<div class="tw-max-w-7xl tw-mx-auto">
  <nz-card
    class="tw-max-w-[30rem] tw-mx-auto tw-mt-8 tw-rounded-lg"
    nzTitle="Login"
  >
    <form nz-form [formGroup]="signInFormGroup">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group class="tw-h-12">
            <input
              type="text"
              nz-input
              placeholder="Username"
              class="tw-text-sm tw-rounded-md"
              formControlName="username"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your password!">
          <nz-input-group [nzSuffix]="suffixTemplate" class="tw-h-12">
            <input
              type="password"
              nz-input
              [type]="passwordVisible ? 'text' : 'password'"
              placeholder="Password"
              class="tw-text-sm tw-rounded-md"
              formControlName="password"
            />
            <ng-template #suffixTemplate>
              <span
                nz-icon
                [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                (click)="passwordVisible = !passwordVisible"
              ></span>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div *ngIf="errorMsg">
        <nz-alert nzType="error" [nzMessage]="errorMsg"></nz-alert>
      </div>
      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox>Remember me</label>
        </nz-form-control>
      </nz-form-item>
      <div></div>
      <div class="tw-w-full tw-text-center tw-my-3">
        <button
          (click)="onLogin()"
          nz-button
          nzType="default"
          class="tw-text-lg tw-h-10 tw-w-24"
          (disabled)="isLoggingIn"
        >
          <nz-spin *ngIf="isLoggingIn" nzSimple></nz-spin>
          <span *ngIf="!isLoggingIn">Login</span>
        </button>
      </div>
    </form>
  </nz-card>
</div>
<ng-template #prefixTemplateUser
  ><span nz-icon nzType="user"></span
></ng-template>
<ng-template #prefixTemplatePassword
  ><span nz-icon nzType="ellipsis" nzTheme="outline"></span
></ng-template>
