<nz-footer class="tw-min-h-48 tw-bg-white">
    <div class="tw-w-full tw-grid tw-grid-cols-1 md:tw-grid-cols-2 xl:tw-grid-cols-3">
        <div>
            <p class="tw-text-lg tw-font-semibold">Text</p>
            <p>Text text text</p>
            <p>Text text text</p>
            <p>Text text text</p>
            <p>Text text text</p>
            <p>Text text text</p>
        </div>
        <div>
            <p class="tw-text-lg tw-font-semibold">Text</p>
            <p>Text text text</p>
            <p>Text text text</p>
            <p>Text text text</p>
            <p>Text text text</p>
            <p>Text text text</p>
        </div>
        <div>
            <p class="tw-text-lg tw-font-semibold">Text</p>
            <p>Text text text</p>
            <p>Text text text</p>
            <p>Text text text</p>
            <p>Text text text</p>
            <p>Text text text</p>
        </div>
        <div class="tw-col-span-full tw-text-center tw-pt-6">
            <p class="tw-opacity-50">2024 Copyright ... Angular</p>
        </div>
    </div>
</nz-footer>